h2
{
    text-align: center;
}
div{
    border:1px solid black;
    
}
form{
    border:2px solid red;
    background-color: antiquewhite;
   width:80%;
}
input[type=text],input[type=password]
{
    width:60%;
    padding:8px 20px;
    margin: 10px 0;
    display:inline-block;
}
form{
    padding: 10px 8px;
}
.signupp
{  padding:10px 11px;
    width:65%;
    background-color: rgb(142, 79, 201);
    opacity:1;
    margin:10px; 
}
.signupp:hover{
    background-color: green;
    color:red;
}
.cancelbtn
{
    width:15%;
    margin:10px;
    background-color: beige;

}
@media screen and (max-width:300px)
{
    .signupp,.cancelbtn{
        display:block;
        float:none;
        width:100%;
    }
    
}